alabaster==0.7.13
anyascii==0.3.2
Babel==2.11.0
blis==0.7.11
catalogue==2.0.10
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.0.4
confection==0.1.4
contextvars==2.4
contractions==0.1.73
cycler==0.11.0
cymem==2.0.8
Cython==3.0.9
dataclasses==0.8
decorator==4.4.2
docutils==0.18.1
emoji==2.10.1
emot==3.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
flashtext==2.7
idna==3.6
imagesize==1.4.1
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
Jinja2==3.0.3
joblib==1.1.1
kiwisolver==1.3.1
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib==3.3.4
murmurhash==1.0.10
networkx==2.5.1
nltk==3.6.7
numpy==1.19.5
packaging==21.3
pandas==1.1.5
pathy==0.10.3
Pillow==8.4.0
pkg_resources==0.0.0
preshed==3.0.9
prettytable==2.5.0
pyahocorasick==2.0.0
pydantic==1.9.2
Pygments==2.14.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2023.8.8
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
setuptools==58.1.0
six==1.16.0
sklearn==0.0
smart-open==6.4.0
snowballstemmer==2.2.0
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==2.4.8
text2graphapi==0.2.0
textsearch==0.0.24
thinc==8.1.12
threadpoolctl==3.1.0
tqdm==4.64.1
typer==0.9.0
typing_extensions==4.1.1
urllib3==1.26.18
wasabi==1.1.2
wcwidth==0.2.13
zipp==3.6.0
